.user-notifications {
    min-width: 350px;
    max-height: 500px;
    overflow-y: auto;
    @include scrollbars(8px, #afafaf);
    background-color: #fff;
    padding: 10px;
    header {
        margin-bottom: 20px;
        svg {
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
            box-sizing: content-box;
            color: $blue;
            transition: 0.2s background ease;
            &:hover {
                background-color: $lightgrey;
            }
        }
    }

    .notification-details {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 3px;
        background-color: #f5f6f8;
        word-break: break-word;
        text-align: start;
        transition: all 0.2s ease;
        display: flex;
        flex-direction: column;
        padding: 8px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:hover {
            background-color: $lightgrey;
        }

        & > div {
            align-items: center;
        }

        & > div:first-child {
            margin-bottom: 8px;
        }

        & p {
            margin: 0;
        }

        & .user-thumbnail {
            margin-right: 8px;
        }
        svg {
            // font-size: small;
            margin-right: 0 5px 0 0;
            color: $grey;
            font-size: 1.6rem;

            &:hover {
                background-color: unset;
            }
        }
    }
}
